.photo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../../images/no_prof_pic.png");
    border: 1px solid black;
    margin: 20px;
    vertical-align: bottom;
}
.info{
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
}
.name, .username{
    display: inline-block;
    vertical-align: bottom;
}

.name{
    width: 300px;
    font-size: 20pt;
    font-weight: bold;
    font-family: "Segoe UI", sans-serif;
}
.username{
    width: 150px;
    font-size: 12pt;
    font-style: italic;
    font-family: "Segoe UI", sans-serif;
}
.name_area{
    height: 120px;
}
